* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    text-align: center;
}

.fundo {
    width: 400px;
    padding: 20px;
    height: 130px;
    margin: 50px auto;
    background-color: lightgray;
}

p {
    padding: 20px;
}

.fundo2 {
    background-color: aquamarine;
}

