
    body {
        background: rgb(35, 110, 216);
        font: normal 15pt arial;
    }
    section {
        background-color: white;
        padding: 15px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 5px 5px 5px;

    }
    header {
        font: 15pt arial;
        text-align: center;
        color: white;
    }
    footer {
        text-align: center;
        color: white;
    }
    